<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Menu !{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
          {% block stylesheets %}<link href="{{ asset('css/menu.css') }}" rel="stylesheet" media="all" type="text/css"> {% endblock %}
    </head>

    <body>
       
        <h1>Bienvenue sur l'Intranet de InSociety</h1>
        <!--<img src="InSociety.PNG" align="center">-->


      <div class="exemple" id="ex2">
      <ul id="nav"><!--
    --><li><a id="a" href="{{path('accueil')}}">Accueil</a></li><!--
    --><li><a id="a" href="#">Mon Espace</a></li><!--
    --><li><a id="a" href="#">Ressources</a></li><!--
    --><li><a id="a" href="{{ path('connexion') }}">Déconnexion</a></li>
</ul>
      </div>

       {% block body %}{% endblock %}


 {% block javascripts %}{% endblock %}
     <h4>Webmaster - Réalisé par MAC, Portail Collaboratif </h4>
        <footer id="menu">
        <ul><u><bold>Entreprise :</bold></u></ul>
          <li><a href="#">Annuaire</a></li>
          <li><a href="#">Plan du site</a></li>

        <ul><u><bold>Liens Utiles :</bold></u></ul>
          <li><a href="#">Contacter-nous</a></li>
          <li><a href="#"></a></li>

        <ul><u><bold>Besoin d'aide ?</bold></u></ul>
          <li><a href="#">Foire aux Questions</a></li>
      </footer>
        
    </body>

  
</html>