
{% block body %}  

<div align="center" id="editform">
{{ form(eventMform)}}
</div>
<script type="text/javascript">

</script>
<style>

label.required{
    font-family: cursive; 
  font-size: 18px;
}
input#form_Fichier{
    font-family:'BlackChancery' ; 
  margin-left: 2%;
  margin-right: 12%;
  margin-top:5%;
  margin-bottom: 5%;
  font-size: 18px;
  float : right;
}
button#form_Envoyer{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
 float: left;
}


</style>
 {% endblock %}