{% extends 'menu.html.twig' %}

{% block title %}Mon espace !{% endblock %}
{% block body %}  
<div class="bloc" id="contenu">
</div>
<style type="text/css">
div#contenu{
    width: 98.9%;
    height : 450px;
    margin-top:10px;
    background-color : white; 
    position : absolute;

 
}
</style>

{% endblock %}