{% extends 'menu.html.twig' %}

{% block title %}Mon espace !{% endblock %}
{% block body %}  
    
        
            <h4> Application : </h4>
             
        <header> 
         <div id="g"> <h4>Informatique :</h4>
           <p id="p1" style="background-color:black; color:white;"><a href=""> NAS </a></p> 
           <p id="p1" style="background-color:#7a5333; color:white;"><a href="https://github.com"> GitHub </a></p>
           <p id="p1" style="background-color:#5f0686; color:white;"><a href="https://www.ocs.fr"> OCS </a></p>
         </div>
           <hr>
         <div id="g"> 
           <span>Office :</span>
           <p id="p1" style="background-color:purple; color:white;"><a href="https://www.onenote.com"> OneNote </a></p>
           <p id="p1" style="background-color:#112c8a; color:white;"><a href="https://login.live.com>"> Outlook </a></p>
             </div>
           <hr>
         <div id="g">
           <span>Gestion d'incidence :</span>
           <p id="p2" style="background-color:blue; color:white;"><a href="http://glpi-project.org"> GLPI </a></p>
           <p id="p2" style="background-color:green; color:white;"><a href="https://www.centreon.com"> Centréon </a></p>
           <p id="p2" style="background-color:orange; color:white;"> Application </p>
           <p id="p2" style="background-color:pink; color:white;"><a href="https://www.mailinblack.com"> Mail In Black</a></p>
             </div>
          <hr>
         <div id="g">
           <h4>Ressources Humaines :</h4>
           <p id="p2" style="background-color:red; color:white;"><a href="https://www.horoquartz.fr"> Horoquartz </a></p>
             </div>
        </header>
      
      

<style>

header{ display: flex;     flex-wrap: wrap;  }

h4{ margin-left: 10px;
    font-family: 'BlackChancery';
    text-decoration: underline;
    text-decoration: bold;
    font-size : 18px;
}
p{
  margin-left: 25px;
  margin-right : 25px;
  justify-content: center;
  height : 60px;
      display: block;
  width : 100px;
  border-radius: 15px;
  text-align: center;
  font-family: cursive;
  line-height: 60px;


}

a{  text-decoration: none;     color: white;  }
div#g{     padding-top:0%; padding-bottom: 0%; padding-left: 5%; padding-right: 6%; }
</style>
{% endblock %}