{% extends 'menu.html.twig' %}

{% block title %}Plan du site !{% endblock %}
{% block body %}  
	<div align="center">
		<p> Plan du Site</p>
<!--iframe width="1300px" height="400px" src="https://www.google.fr/maps/@48.6302757,2.4217312,17z"></iframe>-->
<img height="400px" src="img/plan.png">
	</div>
<style type="text/css">
p{
    font-family: 'BlackChancery';
    text-decoration: bold;
    font-size : 20px;
}
</style>
{% endblock %}