{% extends 'menu.html.twig' %}
{% block body %}  

<div align="center" id="editform">
{{ form(sallesMform)}}
<a href="{{ path ('salles')}}"><button  id="form_Annuler" type="button">Annuler</button></a>
</div>
<script type="text/javascript">

</script>
<style>

label.required{
    font-family: cursive; 
  font-size: 18px;
}

button#form_Modifier{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
 float: left;
}
button#form_Annuler{
  font-family:'BlackChancery' ; 
   font-size:  24px ;
   border-radius: 5px;
   margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
    float: right;
}

</style>
 {% endblock %}