body{
background-color :  #b1edf8;
  font-family: cursive;
}
h1{
    font-family:'BlackChancery' ; 
     font-size:  24px ;
     text-align: right;
}
#real{
 
    font-family:'BlackChancery' ; 
     font-size:  21px ;
     text-align: center;
     color:#6b6b6b;
    position: fixed;
    bottom: 10px;
     text-decoration-line: none;
   left : 4%;
   right : 0;
}

div#contenu{
 
  background : white;
    width: 98.9%;
    height : 500px;
    margin-top:10px;
    background-color : white; 
    position : absolute;
}

#nav {
    padding: 0; margin: 0;
    text-align: center; /* centrer le texte */
    list-style-type:none;
    display: inherit;
}
#nav li {
    display: inline-block;
    list-style: none;
    position: relative;
}

#nav a {
    display:inline-block;
    
}
#ex2 {
    padding-top: 4%;
  
}
#ex2 li a:hover{
color: blue;
}

ul#nav{
  background-color: #5E5E5E;
    border: 1px solid #333;
    border-top-color: #707070;
    background-color: #5E5E5E;
    background: -webkit-linear-gradient(bottom , #666666 0pt, #5E5E5E 50%, #707070 51%, #808080 100%) repeat scroll 0 0 transparent;
  
  
}
a#a{
    height: 36px;
     margin: 0;
    padding: 0 30px;
    line-height: 36px;
    border-left: 1px solid #555;
    border-right: 1px solid #888;
    text-decoration: none;
    color: white;
    text-shadow: -1px -1px 0 #444;
    font-family: BlackChancery;
    font-size: 24px;
}


a#f{
 text-decoration: none;
color : black;
}

ul{
    font-family:'BlackChancery' ; 
     font-size:  18px ;
     text-align: left;  

}
footer#menu{  column-count: 3;  /* Disposition de la page en trois colonnes */
  /*column-width: 24em; /* Disposition de la page en colonnes de taille dix fois supérieure à la normale */
      position: absolute;
    bottom: 100px;
    left: 140px;
    right: 0;
}


/*Menu Déroulant*/
/*Disparition des sous menu de Ressources*/
/*ul li ul { display: none}*/


#nav ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#nav a {
    text-decoration: none;
    display: block;
  
}
#nav ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    
    z-index: 1000;
        padding: 0%;
    margin: 1% 0%;
    text-align: center;
}
#nav li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
#ss {
     color : white;
     height: 20px;
     width: 150px;
     margin: 0%;
     padding: 5%;
     border-left: 1px solid #555;
     border-right: 1px solid #888;
     background-color: #5E5E5E;
     font-family: BlackChancery;
     font-size: 18px;

}

/*Position de l'image*/
#imgmenu{
    width: 160px;
    position: float;
    position: absolute;
    top: 0px;
  }


